# Build artifacts
**/bin/
**/obj/
**/obj2/

# IDE
.vs/
.idea/
.vscode/

# User files
**/*.user
**/*.suo
**/*.userprefs

# Test / coverage
**/TestResults/
**/coverage/
**/coverage.*
**/*.trx

# NuGet
**/packages/
*.nupkg
*.snupkg

# Logs
*.log

# OS
.DS_Store
Thumbs.db
/.tmp
/.vs/DomainRelay.slnx/FileContentIndex/f822d21d-5a61-4187-937b-a365cdd8a640.vsidx
/_refnet9
